
<body>
 

  <div class=container-full>
    
  <div class="title">
 Welcome
  </div>
    
  <div class="container-center">
 <form (ngSubmit)="onSignup(f)" #f="ngForm">
   <p class="form1">
      <input type="email" name="email" placeholder="email" ngModel>
     
    </p>
   <p class="form2">
      <input type="password" name="password" placeholder="Password" ngModel>
      
     
    </p>
    <div class="sign">
    
      <button id="red" type="submit">Sign Up</button>
   </div>
 </form>
     


  </div>
</div> <!-- this one is for container full -->

  
</body>