
 

ADD YOUR INGREDIENT HERE <input type="text" [(ngModel)]="item" >


  <li *ngFor = "let user of user.glist">
    {{user}}
  </li>

  <button (click)="addToList()">Add</button>
  <button (click)="onSave()">Save</button>
  <br><br><br><br><br>
  <button (click)="onFetch()">Fetch</button>
  <button (click)="logout()">LOG OUT</button>

  <!--  
  <button (click)="onFetch()">Fetch</button>
    this is the fetch button that is no longer needed because we are fetching automatically
    in the constructor it's the line that says this.fetch() if this isnt clear your retarted
-->

