$primary: #2b2d42 !default;
$primaryVariant: #8d99ae !default;
$alternative: #edf2f4 !default;
$secondary: #b3d89c !default;
$secondaryVariant: #d0efb1 !default;

.container-full {
  position: fixed;
  top: 6vh;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: $alternative;
}

.welcome {
  font-size: 2em;
  font-weight: 800;
  letter-spacing: 2px;
  padding-top: 10vh !important;
  text-align: center;
  color: $primary;
}

.main {
  height: 50vh;
  width: 50vw;
  background-color: $primary;
  margin-left: 25vw;
  margin-top: 5vh;
  border-radius: 30px;

}

.spacing {
  padding: 3%;
}

.email {
  color: $alternative;
  letter-spacing: 1px;
  font-weight: 400;
  border-bottom: 2px solid $secondary;
}

.password {
  color: $alternative;
  letter-spacing: 1px;
  font-weight: 400;
  border-bottom: 2px solid $secondaryVariant;
}

::placeholder {
    color: $alternative;
    letter-spacing: 1px;
    font-weight: 400;
}

.input-spacing{
  padding-left: 5vw;
   padding-top: 9vh;
}


input {
  line-height: 3.5vh;
  width: 40vw;
  font-size: 1em;
  font-weight: 400;
  border: none;
  background: $primary;
  color: $primary;
}

input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px $primary inset; /* Change the color to your own background color */
    -webkit-text-fill-color: white;
}

input:focus {
  outline: none;
}

input.ng-invalid.ng-touched {
  border-color: red;
}

.signin-space {
  margin-top: 15vh;
}

button {
  border-radius: 40px;
  color: $alternative;
  height: 5vh;
  width: 20vw;
  cursor: pointer;
}

.signin {
  background: linear-gradient(to right, $primary, $secondaryVariant);
  margin-left: 12vw;
  width: 24vw;
  height: 6vh;
  color: $alternative;
  letter-spacing: 2px;
  font-size: 1.5em;
}

.signup {
  text-align: center;
  color: $primary;
}

span {
  opacity: .7;
  cursor: pointer;
}


// input:-webkit-autofill:focus {
//     -webkit-box-shadow: 3px 3px 5px 6px $primaryVariant, 0 0 0 50px $primary inset;
//     -webkit-text-fill-color: white;
// }
//
// input:focus {
//     -webkit-box-shadow: 3px 3px 5px 6px $primaryVariant, 0 0 0 50px $primary inset;
//     -webkit-text-fill-color: white;
// }
